* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #7B2CBF;
}

.puffs-adultos {
  width: 100%;
  min-height: 200px;
  background-color: #ffffff;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.header {
  background-color: rgb(154, 3, 255);
  height: 80px;
  width: 100%;
  padding: 20px;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  text-align: center;
  background-color: green;
  color: #fff;
  padding: 20px;
}

.footer {
  background-color: #7B2CBF !important;
  color: #D705F2 !important;
}

.header {
  background-color: #7C038C !important;
  color: #8306f1 !important;
}

.textoo {
  color: #460259 !important;
}

* {
  border: 0;
  padding: 0%;
}

.datos {
  display: flex;
  display: inline-flex;
}

.imagen {
  width: 100%;
}

.barra ul li {
  list-style: none;
  display: inline-block;
}

.barra {
  float: right;
}

.logo {
  float: left;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.barra a {
  color: #fff;
  text-decoration: none;
}

img {
  border: #2c27bc;
}

h2 {
  background-color: orange;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  text-transform: uppercase;
}

.cabeseros {
  background-color: #e0aaff;
  border: 10px solid rgb(92, 53, 232);
  height: 500px;
  width: 400px;
  border: #c77dff #7B2CBF rgb(138, 81, 191) rgb(134, 28, 205);
}

.sec2 {
  color: #7B2CBF;
  text-align: center;
  size: 15px;
  font-size: 25px;
}

form {
  text-align: center;
  text-decoration: #e0aaff;
  display: flexbox;
  margin-top: 0em;
  border: 8px solid #0d0c0c;
}

iframe {
  text-decoration: solid;
}

h2 {
  text-align: center;
  background-color: rgb(82, 1, 152);
  color: #fff;
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.caja {
  height: 350px;
  width: 350%;
  background-color: purple;
  border: 2px solid #460259;
  color: #C004D9;
  text-align: center;
  line-height: 120px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  flex-basis: 280px;
}

.sec {
  background-color: #333;
  width: 100%;
  height: 700px;
}

footer p {
  margin-bottom: 20px;
}

.fa-brands,
.fab {
  font-weight: 400;
}

.subir {
  position: fixed;
  right: 40px;
  bottom: 40px;
  background-color: orange;
  padding: 10px;
  box-shadow: 0 0 5px #fff, 0 0 5px #fff;
  color: #fff;
}

h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  text-transform: uppercase;
}

section {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 30%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  border: 3px solid orange;
}

.card__img {
  height: 450px;
  background-image: url(img/rojo.jpeg);
  background-size: cover;
  background-position: center;
}

.caja1 {
  background-image: url(img/puff\ violeta.JPG);
}

.caja4 {
  background-image: url(img/verde\ editado.jpeg);
}

.caja3 {
  background-image: url(img/mesas\ 3\ colores.jpeg);
}

.caja2 {
  background-image: url(img/boca.JPG);
}

.caja5 {
  background-image: url(img/juego\ blanco.JPG);
}

.caja6 {
  background-image: url(img/aqua\ a\ rallas.jpeg);
}

.caja7 {
  background-image: url(img/chenill\ aqua\ puff.JPG);
}

.caja8 {
  background-image: url(img/juego\ rojo.JPG);
}

.caja9 {
  background-image: url(img/puff\ amarillo.JPG);
}

.galeria {
  width: 100%;
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px;
}

.container {
  border: solid 1px rgba(255, 255, 255, 0.2);
}

table {
  color: white;
  font-size: 14px;
  table-layout: fixed;
  border-collapse: collapse;
}

thead {
  background: rgba(243, 140, 210, 0.4);
}

th {
  padding: 20px 15px;
  font-weight: 700;
  text-transform: uppercase;
}

td {
  padding: 15px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

tbody tr {
  cursor: pointer;
}

tbody tr:hover {
  background: rgba(243, 103, 199, 0.4);
}

* {
  box-sizing: border-box;
}

body {
  background: #C004D9;
  color: #fff;
  line-height: 1.6;
  font-family: "Quicksand", sans-serif;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  text-align: center;
  font-size: 2em;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: #D705F2;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1/3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #D705F2;
}

.contact-form form button {
  background: #7C038C;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #C004D9;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

/* CONTACT INFO */
.contact-info {
  background-color: #8306f1;
}

.fondo-sobrenosotros {
  margin-top: 100px;
  width: 50%;
  background-color: #C004D9;
  color: #fff;
  border: 3px solid #460259;
}

footer {
  height: auto;
  width: 100%;
  background-color: #C004D9;
  color: #000000;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-family: Reenie beanie, cursive;
  justify-content: center;
}

header {
  background-color: #9d0ee5;
  padding: 10px 10px;
  font-size: 25px;
}

nav {
  background-color: #7C038C !important;
}

.my-5 {
  padding: 20px;
}

.caja {
  background-size: cover;
  background-position: center;
}

.contenedor-2 {
  width: 150% !important;
  height: 200px;
  background-size: cover;
}
.whatsapp-button {
  position: fixed;
  bottom: 30px;
  right: 20px;
  background-color: #25d366;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  padding: 25px 10px;
  border-radius: 100px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.whatsapp-button:hover {
  background-color: rgba(37, 211, 101, 0.768627451);
}
/*# sourceMappingURL=estilos.css.map */

.navbar {
  background-color: rgb(16, 16, 48);
  margin-bottom: 0px;
}
.navbar .nav-item a {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 13px;
  padding: 10px 15px;
  font-family: "Roboto", sans-serif;
}
.navbar .nav-item a:hover {
  color: grey;
  background-color: rgba(53, 58, 56, 0.493);
  border-radius: 5px;
}

.dropdown-menu {
  border-radius: 0;
}

.bg-zafiro {
  background-color: rgb(16, 16, 48);
}

.logo-scroll {
  width: 120px !important;
  height: 37px !important;
}
.contacto {
  background-color: #550bab;
}

.contacto2 {
  height: 100px;
  width: 100%;

}
