* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #7B2CBF;
}

.puffs-adultos {
    width: 100%;
    min-height: 200px;
    background-color: #ffffff;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 25px;
}




.footer {
    background-color: #7B2CBF !important;
    color: #D705F2 !important;
}



.textoo {
    color: #460259 !important;
}

.datos {
    display: flex;
    display: inline-flex;
}


img {
    border: #2c27bc;
}




.sec2 {
    color: #7B2CBF;
    text-align: center;
    size: 15px;
    font-size: 25px;
}

form {
    text-align: center;
    text-decoration: #e0aaff;
    margin-top: 0em;

    & input::placeholder {
        color: rgb(173, 173, 173);
    }
}

iframe {
    text-decoration: solid;
}

h2 {
    text-align: center;
    background-color: rgb(82, 1, 152);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;

}







section {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border: 3px solid orange;
}

.card__img {
    height: 450px;

    background-size: cover;
    background-position: center;
}

.caja {
    width: 30%;
    height: 350px;
    margin: 30px;

}

.caja1 {
    background-image: url(img/puff\ blanco\ \(1\).JPG);

}

.caja4 {
    background-image: url(img/juego\ ngre.JPG);
}

.caja3 {
    background-image: url(img/negro\ puff.JPG);
}

.caja2 {
    background-image: url(img/puff\ rojo\.JPG);
}

.caja5 {
    background-image: url(img/juego\ blanco.JPG);
}

.caja6 {
    background-image: url(img/juego\ rojo.JPG);
}




.container {
    border: solid 1px rgba(255, 255, 255, 0.2);
}

table {
    color: white;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    background: rgba(243, 140, 210, 0.4);
}

th {
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}

td {
    padding: 15px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background: rgba(243, 103, 199, 0.4);
}

* {
    box-sizing: border-box;
}

body {
    background: #C004D9;
    color: #fff;
    line-height: 1.6;
    font-family: "Quicksand", sans-serif;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 2em;
}


/* CONTACT INFO */
.contact-info {
    background-color: #8306f1;
}

.fondo-sobrenosotros {
    margin-top: 100px;
    width: 50%;
    background-color: #C004D9;
    color: #fff;
    border: 3px solid #460259;
}

footer {
    height: auto;
    width: 100%;
    background-color: #959595;
    color: #000000;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-family: Reenie beanie, cursive;
    justify-content: center;
}




.my-5 {
    padding: 20px;
}

.caja {
    background-size: cover;
    background-position: center;
}

.contenedor-2 {
    width: 150% !important;
    height: 200px;
    background-size: cover;
}

.whatsapp-button {
    position: fixed;
    bottom: 30px;
    right: 20px;
    background-color: #25d366;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    padding: 25px 10px;
    border-radius: 100px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.whatsapp-button:hover {
    background-color: rgba(37, 211, 101, 0.768627451);
}

/*# sourceMappingURL=estilos.css.map */






.sanlaupuff {
    color: #7C038C;
}


.navbar {
    padding: 2rem;
    background-color: #7C038C;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.contacto {
    padding: 0% !important;
}





.navbar {
    background-color: #959595;
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .bg-jumbo {
        text-align: center;

    }
}


a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: #fff;
    }
}

.lead {
    margin: 10px;
}

.nav-link {
    font-size: 24px;

}

.row {
    margin-right: 0 !important;
}

p {
    font-family: Quicksand, cursive;
    font-size: 20px;
}

i {
    font-size: 50px;
}

.cuerpo-principal h2 {
    font-size: 5.5rem;
    color: #615151;
    text-align: center;
    font-family: Quicksand, cursive;
    letter-spacing: 50px;
    padding: 40px;
}

strong {
    font-weight: bolder;
}

.cuerpo-principal {
    font-size: 50px;
}


.navbar-brand {

    justify-content: center;

}

.titulo-slp {
    color: #000000;
}

.cat-nos {
    font-size: 30px;
}



.bg-jumbo {

    border-radius: 0 !important;
    margin-bottom: 0 !important;
    background-color: #525252 !important;
}




@media screen and (min-width: 320px) and (max-width: 800px) {
    .sec {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    .caja {
        width: 80%;
        height: 350px;
        margin: 30px;
    }
}

body {
    background-color: #525252 !important;
}